[user]
    name = Allen Leonard (Salsalabs)
    email = aleonard@salsalabs.com
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = simple